<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %}{% endblock meta %}
    <meta name="author" content="Mbali">

    <title>{% block title %}{% endblock title %}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    {% block style %} {% endblock style %}
    <style>
        body {
          display: flex;
          min-height: 100vh;
          flex-direction: column;
        }

        main {
          flex: 1 0 auto;
        }
    </style>
</head>
<body class="orange lighten-4">
    {% block nav %} {% endblock nav %}
    {% block body %} {% endblock body %}
    <footer class="page-footer orange lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h6 class="white-text">Themes</h6>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h6 class="white-text">About us</h6>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Copyright © 2020
                <a class="grey-text text-lighten-4 right" href="#">Site by: Londa Mngadi</a>
            </div>
    </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>