{% extends 'main/base.html' %}

{% block title %}Self Care{% endblock title %}
{% load static %}
{% block style %}
<style>
    header{
      background: url({% static 'main/maddi-bazzocco-TOZqUHD8L38-unsplash.jpg' %});
      background-size: cover;
      background-position: center;
      min-height: 1000px;
    }
    @media screen and (max-width: 670px){
      header{
        min-height: 500px;
      }
    }
</style>
{% endblock style %}

{% block nav %}
<header>
    <nav class="transparent">
        <div class="container">
            <div class="nav-wrapper">
            <a href="{% url 'main:Home' %}" class="brand-logo">Self Care</a>
             <a href="#" class="sidenav-trigger" data-target="mobile-links"><li class="material-icons">menu</li></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Style</a></li>
                    <li><a href="#">Beauty</a></li>
                </ul>

                <ul class="sidenav" id="mobile-links">
                   <li><a href="#">Style</a></li>
                    <li><a href=#l">Beauty</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock nav %}

{% block body %}
<br/>
<main>
    <section class="container">
        <div class="row">
            {% for card in cards %}
            <div class="col s6 m4 l4">
                <div class="card">
                    <div class="card-content">
                        <div class="image-class">
                            <img class="responsive-img" src="{{ card.pic.url }}" alt="post image">
                        </div>
                        <span class="card-title green-text accent-4 center">{{card.post.title}}</span>
                    </div>
                    <div class="card-action center">
                        <a  href="Post/{{card.post.get_absolute_url}}" >Read Post</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock body %}