{% extends 'main/base.html' %}

{% block title %}Post{% endblock title %}

{% block meta %}
{% for info in meta %}
<meta name="description" content="{{info.description}}">
<meta name="keywords" content="{{info.keywords}}">
{% endfor %}
{% endblock meta %}

{% block nav %}
<header>
    <nav class="orange lighten-2">
        <div class="container">
            <div class="nav-wrapper">
                <a href="{% url 'main:Home' %}" class="brand-logo">Self Care</a>
                <a href="#" class="sidenav-trigger" data-target="mobile-links"><li class="material-icons">menu</li></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Style</a></li>
                    <li><a href="#">Beauty</a></li>
                </ul>

                <ul class="sidenav" id="mobile-links">
                   <li><a href="#">Style</a></li>
                    <li><a href=#l">Beauty</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock nav %}

{% block body %}
<main>
    <br/>
    <div class="container">
        <div class="card-panel">
            {% for post in post %}
            <p>{{post.post |safe}}</p>
            <br/>
            <p class="right-align">{{post.date_published}}</p>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock body %}